.env
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
data/
*.session
*.session-journal
*.md
!README.md
!README_en.md
!README_ru.md
!INSTALL.md
!COMMANDS.md
!COMMANDS_ru.md
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!SECURITY.md
!.github/*.md
!.github/**/*.md
.idea/
.vscode/
